.roundbutton {
	border: 0;
	background-color: #363636;
	width: 35px;
	height: 35px;
	border-radius: 8px;
}

/* NAVBAR STYLING */
.navbar {
	display: flex;
	justify-content: space-between;
}

.navbar img {
	height: 40px;
}

.navbar ul {
	list-style-type: none;
	display: flex;
	width: 150px;
	justify-content: space-between;
}

.navbar ul a {
	text-decoration: none;
	color: black;
}

.navbar ul a:hover {
	color: #eb6134;
}

.navbar button img {
	height: 25px;
}

.navbar button:hover {
	cursor: pointer;
	background-color: #121212;
}
/* DARK MODE STYLING */
.dark {
	background-color: #363636;
}

.dark .navbar ul a {
	color: white;
}

.dark .navbar ul a:hover {
	color: #eb6134;
}

.dark .navbar button {
	background-color: white;
}
