/* 
Styles used by Kid for the components
Feel free to use for own use
Add custom css to bottom of this file to save space
 */
body {
	font-family: 'Helvetica', sans-serif;
}

.center {
	display: flex;
	flex-direction: column;
	align-items: center;	
}

.left {
	display: flex;
	flex-direction: column;
	align-items: start;	
}

.right {
	display: flex;
	flex-direction: column;
	align-items: end;
}

.navigation {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.navigation ul {
	display: flex;
	flex-direction: row;
	list-style-type: none;
	justify-content: space-between;
}

.navigation ol {
	display: flex;
	flex-direction: row;
	list-style-type: none;
	justify-content: space-between;
}
